#header {
    background-color: black;
    color: #ffffff;
    text-align: center;
    margin: 20px auto 20px auto;
}
#form {
    margin: 20px auto 10px auto;
}
.card-header {
    background-color: #ffffff;
}